body {
    margin: 0;
    padding: 0;
    
}

#imgbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Use object-fit: cover to maintain aspect ratio */
    z-index: -1;
}

.full-page-image {
    position: relative;
    height: 100vh; /* Set height to 100vh to cover the full viewport height */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; /* Ensure content is above the background */
}
    .content h1.display-4 {
        font-size: 5.5em;
        /* You can adjust the value as needed */
        font-family: "Lobster", cursive; /* Or any other stylish font */
        text-shadow: 3px 3px 8px rgba(255, 0, 220, 0.8); /* Adjust the shadow as needed */
        letter-spacing: 2px; /* Adjust the letter-spacing as needed */
    }

    .content p.lead {
        font-weight:500;
        font-size: 3.3em; /* You can adjust the value as needed */
        font-style: italic; /* Italicize the lead paragraph */
        letter-spacing: 1px; /* Adjust the letter-spacing as needed */
        }
.buttonexplore {
    font-size: 2em;
    font-family: "Lobster", cursive; /* Or any other stylish font */
    text-shadow: 3px 3px 8px rgba(255, 0, 220, 0.8); /* Adjust the shadow as needed */
    border-color: rgba(255, 0, 220, 0.8);
}
.content a.btn {
    font-size: 2.1em; /* You can adjust the value as needed */
}

/* Rest of your CSS remains unchanged */

.black-background {
   
    padding: 60px 0;
}

.fancy-heading {
    font-family: "Lobster", cursive;
    color: white;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.nav1 {
    text-shadow: 3px 3px 8px rgb(166, 76, 233); /* Adjust the shadow as needed */
    color: black;
    font-weight: 600;
}
body {
    margin: 0;
    padding: 0;
    background-color: white; /* Set the body background color to white */
}
