<style>
    header {
        background-color: black;
        color: white;
        padding: 10px;
        text-align: center;
        position: relative;
    }

    .go-back-btn {
        top: 70px;
        padding-bottom: 20px;
        margin-left:0;
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
</style>

<a asp-controller="Home" asp-action="Index" class="go-back-btn">&lt; Go Back</a>
<div class="row row-cols-1 row-cols-md-3 cards mt-10" style="padding-top:20px;">
    <!-- col start-->
    <div class="col mb-4">
        <!-- Single Entry Start-->
        <div class="card">
            <img class="card-img-top" src="~/Images/album/album.jpg" alt="album track">
            <div class="card-body">
                <h5 class="card-title">Song Name</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Artist-1, Artist-2</h6>
                <p class="card-text">Album Name</p>
                <button class="btn btn-dark card-link">Add To Cart</button>
                <button class="btn btn-outline-dark card-link">Buy</button>
            </div>
        </div>

        <!-- Single Entry End-->
    </div>
    <!-- col end-->
    <!-- col start-->
    <div class="col mb-4">
        <!-- Single Entry Start-->
        <div class="card">
            <img class="card-img-top" src="~/Images/album/album.jpg" alt="album track">
            <div class="card-body">
                <h5 class="card-title">Song Name</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Artist-1, Artist-2</h6>
                <p class="card-text">Album Name</p>
                <button class="btn btn-dark card-link">Add To Cart</button>
                <button class="btn btn-outline-dark card-link">Buy</button>
            </div>
        </div>

        <!-- Single Entry End-->
    </div>
    <!-- col end-->
    <!-- col start-->
    <div class="col mb-4">
        <!-- Single Entry Start-->
        <div class="card">
            <img class="card-img-top" src="~/Images/album/album.jpg" alt="album track">
            <div class="card-body">
                <h5 class="card-title">Song Name</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Artist-1, Artist-2</h6>
                <p class="card-text">Album Name</p>
                <button class="btn btn-dark card-link">Add To Cart</button>
                <button class="btn btn-outline-dark card-link">Buy</button>
            </div>
        </div>

        <!-- Single Entry End-->
    </div>
    <!-- col end-->
    <!-- col start-->
    <div class="col mb-4">
        <!-- Single Entry Start-->
        <div class="card">
            <img class="card-img-top" src="~/Images/album/album.jpg" alt="album track">
            <div class="card-body">
                <h5 class="card-title">Song Name</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Artist-1, Artist-2</h6>
                <p class="card-text">Album Name</p>
                <button class="btn btn-dark card-link">Add To Cart</button>
                <button class="btn btn-outline-dark card-link">Buy</button>
            </div>
        </div>

        <!-- Single Entry End-->
    </div>
    <!-- col end-->
</div>