@{
    ViewData["Title"] = "Home Page";
}
<body>
    
    <div class="full-page-image">
        <img id="imgbg" src="lib/bg1.jpg" alt="Music Store">
        <div class="overlay"></div>
        <div class="content container">
            <h1 class="display-4">Unleash your Sound</h1>
            <p class="lead">Discover a world of music at your fingertips.</p>
            <a asp-controller="Search" asp-action="Search" class="btn btn-outline-light btn-lg buttonexplore">Explore Now ></a>
        </div>
    </div>

    <div class="black-background">
        <div class="container">
            <h2 class="fancy-heading">Find Your Groove</h2>
        </div>
    </div>
</body>